version: '3.8'

services:
  # Serviço do PHP-FPM
  app:
    build:
      context: ./
      dockerfile: Dockerfile
    container_name: laravel_app
    working_dir: /var/www
    volumes:
      - ./:/var/www
    networks:
      - laravel_network

  # Serviço do Nginx
  nginx:
    image: nginx:latest
    container_name: laravel_nginx
    ports:
      - 8888:80
    volumes:
      - ./:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    networks:
      - laravel_network

networks:
  laravel_network:
    driver: bridge
